{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Expense Checker </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'add_expenses' %}">
            <i class="fas fa-fw fa-cog"></i>
            <span>Add Expenses</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'manage_expense' %}">
            <i class="fas fa-fw fa-folder"></i>
            <span>Manage Expenses</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'data_between_dates' deuser_id=user.id %}">
            <i class="fas fa-fw fa-table"></i>
            <span>Between Dates Reports</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'monthwise_report' deuser_id=user.id %}">
            <i class="fas fa-fw fa-folder"></i>
            <span>Monthwise Reports</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'yearwise_report' deuser_id=user.id %}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Yearwise Reports</span></a>
    </li>


</ul>
<!-- End of Sidebar -->