{% extends 'base.html' %}
{% block content %}
{% load static %}
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Change Password</h1>
                        
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Change Your Password!!</h5>
                                    <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
                                </div>
                                <div class="card-block">
                                    {% if messages %}
                        {% for message in messages %}
                         {% if message.tags == 'error' %}
                       <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      {{message}}
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                         </button>
                          </div>
                       {% endif %}
                        {% endfor %}
                       {% endif %}
                           {% if messages %}
                        {% for message in messages %}
                         {% if message.tags == 'success' %}
                       <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      {{message}}
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                         </button>
                          </div>
                       {% endif %}
                        {% endfor %}
                       {% endif %}
                                    <form class="form-material" method="POST">
                                        {% csrf_token %}
                                     
                                        <div class="form-group form-default" style="padding-top: 10px;padding-left: 10px;padding-right: 10px;">
                                            <label class="float-label" style="padding-top: 10px;padding-left: 10px;">Current Password</label>
                                            <input id="password" type="password"  class="form-control" name="cpwd"  required="true">
                                         
                                            
                                        </div>
                                        <div class="form-group form-default" style="padding-top: 10px;padding-left: 10px;padding-right: 10px;">
                                            <label class="float-label">New Password</label>
                                            <input id="password" type="password" name="npwd" class="form-control" required="true">
                                          
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Update</button>
                                 
                                    </form>
                                </div>
                            </div>
                            
                        </div>

                   

                   

                       
                    </div>
                    <br>
                    {% endblock %}